/* Tailwind 기본 스타일과 플러그인에 의해 등록된 모든 기본 스타일을 주입합니다. */
@tailwind base;

/* Tailwind 컴포넌트 클래스와 플러그인에 의해 등록된 컴포넌트 클래스를 주입합니다. */
@tailwind components;

/* Tailwind 유틸리티 클래스와 플러그인에 의해 등록된 모든 유틸리티 클래스를 주입합니다. */
@tailwind utilities;

/* 사용자 정의 스타일 */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  transition: all 0.3s;
  /* base에 넣으면 이상해지는데 애초에 전역에 transition 넣는 것부터
  잘못된 것인지 */
}

@layer base {
  * {
    @apply box-border text-white font-spoqa;
  }
}

[hidden] {
  @apply hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  z-index: -1;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

@layer components {
  .btn-primary {
    @apply bg-net-red rounded font-bold px-[13px] py-[6px] text-sTxt-xs hover:bg-hover-red md:py-2 md:px-3 md:text-sTxt-s;
  }
  .footer-menu {
    @apply text-sTxt-s mb-[10px] md:mb-4 md:text-sTxt-normal text-footer-grey;
  }
  .footer-info {
    @apply not-italic text-sTxt-s text-footer-grey__address md:text-sTxt-normal md:font-bold;
  }
}
